In [1]:
import os
import pandas as pd
import numpy as np
from datetime import datetime 
import time

In [2]:
dir = os.listdir("E:\\projects\\kaola")

In [3]:
origin = pd.DataFrame()

In [4]:
i = 0
for nm in dir:
    A = nm
    if 'wangyikaola' in nm:
        temp = pd.read_csv("E:\\projects\\kaola\\"+A)
        A = A.replace('wangyikaola','')
        A = A.replace('.csv','')
        tm = datetime.strptime("2019_1_"+A,"%Y_%m_%d_%H_%M")
        temp = temp[['idolId','idolName','idolRank','idolVotes','lastVoteTime','rankChange']]
        temp["current_time"] = tm
        origin = pd.concat([origin,temp],axis=0)
        i = i + 1

In [5]:
origin.to_excel("E:\\projects\\kaola\\pandasdata.xlsx",encoding="utf_8_sig")

In [55]:
origin.shape

(22932, 7)

In [56]:
origin.tail()

,idolId,idolName,idolRank,idolVotes,lastVoteTime,rankChange,current_time
93,IDOL004,沈博怀,94,155,2019-01-17 00:41:40,0,2019-01-17 09:45:00
94,IDOL001,安东尼,95,139,2019-01-16 23:31:00,0,2019-01-17 09:45:00
95,IDOL044,连淮伟,96,101,2019-01-16 14:24:55,0,2019-01-17 09:45:00
96,IDOL063,石锌,97,83,2019-01-17 07:57:26,0,2019-01-17 09:45:00
97,IDOL011,陈雨浓,98,80,2019-01-17 00:03:18,0,2019-01-17 09:45:00